<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4046A35822A7E4F500A5AF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4046A36322A7E55800A5AF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404F303B22A5F72B00267175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404F304A22A5F74600267175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404F305922A5F7F700267175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>407A866F22A41D4B00588850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>407A86AA22A465A200588850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>407A86C722A465CA00588850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>407A86E622A4667C00588850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
